
.sprite-rune-0-0 {
    background: url("runes.png") 0px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-1 {
    background: url("runes.png") 0px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-2 {
    background: url("runes.png") 0px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-3 {
    background: url("runes.png") 0px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-4 {
    background: url("runes.png") 0px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-5 {
    background: url("runes.png") 0px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-6 {
    background: url("runes.png") 0px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-7 {
    background: url("runes.png") 0px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-8 {
    background: url("runes.png") 0px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-9 {
    background: url("runes.png") 0px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-10 {
    background: url("runes.png") 0px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-11 {
    background: url("runes.png") 0px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-12 {
    background: url("runes.png") 0px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-13 {
    background: url("runes.png") 0px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-14 {
    background: url("runes.png") 0px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-0-15 {
    background: url("runes.png") 0px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-0 {
    background: url("runes.png") 32px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-1 {
    background: url("runes.png") 32px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-2 {
    background: url("runes.png") 32px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-3 {
    background: url("runes.png") 32px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-4 {
    background: url("runes.png") 32px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-5 {
    background: url("runes.png") 32px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-6 {
    background: url("runes.png") 32px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-7 {
    background: url("runes.png") 32px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-8 {
    background: url("runes.png") 32px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-9 {
    background: url("runes.png") 32px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-10 {
    background: url("runes.png") 32px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-11 {
    background: url("runes.png") 32px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-12 {
    background: url("runes.png") 32px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-13 {
    background: url("runes.png") 32px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-14 {
    background: url("runes.png") 32px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-1-15 {
    background: url("runes.png") 32px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-0 {
    background: url("runes.png") 64px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-1 {
    background: url("runes.png") 64px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-2 {
    background: url("runes.png") 64px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-3 {
    background: url("runes.png") 64px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-4 {
    background: url("runes.png") 64px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-5 {
    background: url("runes.png") 64px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-6 {
    background: url("runes.png") 64px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-7 {
    background: url("runes.png") 64px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-8 {
    background: url("runes.png") 64px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-9 {
    background: url("runes.png") 64px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-10 {
    background: url("runes.png") 64px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-11 {
    background: url("runes.png") 64px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-12 {
    background: url("runes.png") 64px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-13 {
    background: url("runes.png") 64px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-14 {
    background: url("runes.png") 64px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-2-15 {
    background: url("runes.png") 64px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-0 {
    background: url("runes.png") 96px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-1 {
    background: url("runes.png") 96px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-2 {
    background: url("runes.png") 96px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-3 {
    background: url("runes.png") 96px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-4 {
    background: url("runes.png") 96px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-5 {
    background: url("runes.png") 96px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-6 {
    background: url("runes.png") 96px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-7 {
    background: url("runes.png") 96px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-8 {
    background: url("runes.png") 96px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-9 {
    background: url("runes.png") 96px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-10 {
    background: url("runes.png") 96px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-11 {
    background: url("runes.png") 96px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-12 {
    background: url("runes.png") 96px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-13 {
    background: url("runes.png") 96px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-14 {
    background: url("runes.png") 96px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-3-15 {
    background: url("runes.png") 96px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-0 {
    background: url("runes.png") 128px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-1 {
    background: url("runes.png") 128px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-2 {
    background: url("runes.png") 128px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-3 {
    background: url("runes.png") 128px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-4 {
    background: url("runes.png") 128px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-5 {
    background: url("runes.png") 128px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-6 {
    background: url("runes.png") 128px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-7 {
    background: url("runes.png") 128px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-8 {
    background: url("runes.png") 128px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-9 {
    background: url("runes.png") 128px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-10 {
    background: url("runes.png") 128px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-11 {
    background: url("runes.png") 128px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-12 {
    background: url("runes.png") 128px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-13 {
    background: url("runes.png") 128px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-14 {
    background: url("runes.png") 128px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-4-15 {
    background: url("runes.png") 128px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-0 {
    background: url("runes.png") 160px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-1 {
    background: url("runes.png") 160px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-2 {
    background: url("runes.png") 160px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-3 {
    background: url("runes.png") 160px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-4 {
    background: url("runes.png") 160px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-5 {
    background: url("runes.png") 160px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-6 {
    background: url("runes.png") 160px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-7 {
    background: url("runes.png") 160px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-8 {
    background: url("runes.png") 160px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-9 {
    background: url("runes.png") 160px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-10 {
    background: url("runes.png") 160px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-11 {
    background: url("runes.png") 160px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-12 {
    background: url("runes.png") 160px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-13 {
    background: url("runes.png") 160px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-14 {
    background: url("runes.png") 160px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-5-15 {
    background: url("runes.png") 160px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-0 {
    background: url("runes.png") 192px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-1 {
    background: url("runes.png") 192px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-2 {
    background: url("runes.png") 192px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-3 {
    background: url("runes.png") 192px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-4 {
    background: url("runes.png") 192px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-5 {
    background: url("runes.png") 192px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-6 {
    background: url("runes.png") 192px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-7 {
    background: url("runes.png") 192px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-8 {
    background: url("runes.png") 192px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-9 {
    background: url("runes.png") 192px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-10 {
    background: url("runes.png") 192px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-11 {
    background: url("runes.png") 192px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-12 {
    background: url("runes.png") 192px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-13 {
    background: url("runes.png") 192px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-14 {
    background: url("runes.png") 192px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-6-15 {
    background: url("runes.png") 192px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-0 {
    background: url("runes.png") 224px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-1 {
    background: url("runes.png") 224px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-2 {
    background: url("runes.png") 224px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-3 {
    background: url("runes.png") 224px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-4 {
    background: url("runes.png") 224px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-5 {
    background: url("runes.png") 224px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-6 {
    background: url("runes.png") 224px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-7 {
    background: url("runes.png") 224px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-8 {
    background: url("runes.png") 224px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-9 {
    background: url("runes.png") 224px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-10 {
    background: url("runes.png") 224px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-11 {
    background: url("runes.png") 224px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-12 {
    background: url("runes.png") 224px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-13 {
    background: url("runes.png") 224px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-14 {
    background: url("runes.png") 224px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-7-15 {
    background: url("runes.png") 224px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-0 {
    background: url("runes.png") 256px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-1 {
    background: url("runes.png") 256px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-2 {
    background: url("runes.png") 256px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-3 {
    background: url("runes.png") 256px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-4 {
    background: url("runes.png") 256px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-5 {
    background: url("runes.png") 256px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-6 {
    background: url("runes.png") 256px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-7 {
    background: url("runes.png") 256px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-8 {
    background: url("runes.png") 256px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-9 {
    background: url("runes.png") 256px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-10 {
    background: url("runes.png") 256px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-11 {
    background: url("runes.png") 256px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-12 {
    background: url("runes.png") 256px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-13 {
    background: url("runes.png") 256px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-14 {
    background: url("runes.png") 256px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-8-15 {
    background: url("runes.png") 256px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-0 {
    background: url("runes.png") 288px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-1 {
    background: url("runes.png") 288px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-2 {
    background: url("runes.png") 288px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-3 {
    background: url("runes.png") 288px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-4 {
    background: url("runes.png") 288px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-5 {
    background: url("runes.png") 288px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-6 {
    background: url("runes.png") 288px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-7 {
    background: url("runes.png") 288px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-8 {
    background: url("runes.png") 288px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-9 {
    background: url("runes.png") 288px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-10 {
    background: url("runes.png") 288px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-11 {
    background: url("runes.png") 288px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-12 {
    background: url("runes.png") 288px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-13 {
    background: url("runes.png") 288px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-14 {
    background: url("runes.png") 288px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-9-15 {
    background: url("runes.png") 288px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-0 {
    background: url("runes.png") 320px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-1 {
    background: url("runes.png") 320px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-2 {
    background: url("runes.png") 320px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-3 {
    background: url("runes.png") 320px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-4 {
    background: url("runes.png") 320px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-5 {
    background: url("runes.png") 320px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-6 {
    background: url("runes.png") 320px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-7 {
    background: url("runes.png") 320px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-8 {
    background: url("runes.png") 320px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-9 {
    background: url("runes.png") 320px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-10 {
    background: url("runes.png") 320px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-11 {
    background: url("runes.png") 320px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-12 {
    background: url("runes.png") 320px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-13 {
    background: url("runes.png") 320px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-14 {
    background: url("runes.png") 320px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-10-15 {
    background: url("runes.png") 320px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-0 {
    background: url("runes.png") 352px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-1 {
    background: url("runes.png") 352px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-2 {
    background: url("runes.png") 352px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-3 {
    background: url("runes.png") 352px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-4 {
    background: url("runes.png") 352px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-5 {
    background: url("runes.png") 352px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-6 {
    background: url("runes.png") 352px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-7 {
    background: url("runes.png") 352px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-8 {
    background: url("runes.png") 352px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-9 {
    background: url("runes.png") 352px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-10 {
    background: url("runes.png") 352px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-11 {
    background: url("runes.png") 352px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-12 {
    background: url("runes.png") 352px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-13 {
    background: url("runes.png") 352px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-14 {
    background: url("runes.png") 352px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-11-15 {
    background: url("runes.png") 352px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-0 {
    background: url("runes.png") 384px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-1 {
    background: url("runes.png") 384px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-2 {
    background: url("runes.png") 384px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-3 {
    background: url("runes.png") 384px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-4 {
    background: url("runes.png") 384px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-5 {
    background: url("runes.png") 384px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-6 {
    background: url("runes.png") 384px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-7 {
    background: url("runes.png") 384px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-8 {
    background: url("runes.png") 384px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-9 {
    background: url("runes.png") 384px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-10 {
    background: url("runes.png") 384px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-11 {
    background: url("runes.png") 384px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-12 {
    background: url("runes.png") 384px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-13 {
    background: url("runes.png") 384px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-14 {
    background: url("runes.png") 384px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-12-15 {
    background: url("runes.png") 384px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-0 {
    background: url("runes.png") 416px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-1 {
    background: url("runes.png") 416px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-2 {
    background: url("runes.png") 416px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-3 {
    background: url("runes.png") 416px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-4 {
    background: url("runes.png") 416px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-5 {
    background: url("runes.png") 416px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-6 {
    background: url("runes.png") 416px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-7 {
    background: url("runes.png") 416px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-8 {
    background: url("runes.png") 416px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-9 {
    background: url("runes.png") 416px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-10 {
    background: url("runes.png") 416px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-11 {
    background: url("runes.png") 416px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-12 {
    background: url("runes.png") 416px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-13 {
    background: url("runes.png") 416px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-14 {
    background: url("runes.png") 416px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-13-15 {
    background: url("runes.png") 416px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-0 {
    background: url("runes.png") 448px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-1 {
    background: url("runes.png") 448px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-2 {
    background: url("runes.png") 448px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-3 {
    background: url("runes.png") 448px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-4 {
    background: url("runes.png") 448px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-5 {
    background: url("runes.png") 448px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-6 {
    background: url("runes.png") 448px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-7 {
    background: url("runes.png") 448px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-8 {
    background: url("runes.png") 448px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-9 {
    background: url("runes.png") 448px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-10 {
    background: url("runes.png") 448px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-11 {
    background: url("runes.png") 448px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-12 {
    background: url("runes.png") 448px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-13 {
    background: url("runes.png") 448px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-14 {
    background: url("runes.png") 448px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-14-15 {
    background: url("runes.png") 448px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-0 {
    background: url("runes.png") 480px -0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-1 {
    background: url("runes.png") 480px -32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-2 {
    background: url("runes.png") 480px -64px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-3 {
    background: url("runes.png") 480px -96px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-4 {
    background: url("runes.png") 480px -128px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-5 {
    background: url("runes.png") 480px -160px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-6 {
    background: url("runes.png") 480px -192px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-7 {
    background: url("runes.png") 480px -224px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-8 {
    background: url("runes.png") 480px -256px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-9 {
    background: url("runes.png") 480px -288px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-10 {
    background: url("runes.png") 480px -320px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-11 {
    background: url("runes.png") 480px -352px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-12 {
    background: url("runes.png") 480px -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-13 {
    background: url("runes.png") 480px -416px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-14 {
    background: url("runes.png") 480px -448px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sprite-rune-15-15 {
    background: url("runes.png") 480px -480px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
